<div th:fragment="footer" class="navbar navbar-default navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse">


        <footer>
        <p class="navbar-text pull-left">&copy;<script>var date = new Date(); document.write(date.getFullYear() + " | Caci Viki ")</script>

        </p>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </nav>
</div>